.text_1{
text-align: center;
color: blue;
font-family: Arial;
padding: 12px;
} 

.text_2{
text-align: center;
color: purple;
font-family: Arial;
padding: 12px;
} 

.text_3{
text-align: center;
color: blue;
font-family: Arial;
padding: 12px;
} 